html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('../public/bg.png');
  background-repeat: repeat-x;
  background-position: top center;
  background-size: auto 100%;
  background-attachment: fixed;
}



.scroll-div {
  height: calc(100vh - 120px);
  overflow-y: auto;

  padding: 1rem;
  background-image: url("../public/parch.png");
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 5vh auto;
}